<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="#">DAN-IT Team. Step project Notes</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->